@font-face{font-family:gotham-rounded-light;src:url('/web/20190207060540im_/http://7evasi0n.com/LandingPage/fonts/GothamRnd-Light.otf') format("truetype");}*{font-family:gotham-rounded-light,helvetica,sans-serif;}html{padding:0;margin:0;}body{background:url('../images/background.png') repeat-x top center;background-attachment:fixed;background-color:#727272;padding:20px 0 100px 0;margin:0;}table{margin:0px auto;padding:0px;border:none;border-spacing:0px 0px;border-collapse:collapse;width:auto;}table#mirrors td{padding:4px 10px;font-size:14px;}h1,h2{font-weight:normal;text-align:center;}h1,h2{font-size:30px;}img{border:none;}a{border:none;}hr{background:url('../images/divider.png') no-repeat top center;height:5px;border:none;margin-top:30px;}ul{padding:0;margin:0;list-style:none;}li{padding-left:40px;background:url('../images/arrow_icon.png') left center no-repeat;font-size:14px;margin-top:10px;line-height:10px;}a.nolink{cursor:default;}#faq li{margin-top:40px;}#banner1{text-align:center;margin:0;padding:0;}#banner3{text-align:center;margin:0;padding:0;margin-top:20px;}#banner2-wrapper{position:absolute;width:100%;padding:0;margin:0;margin-top:200px;z-index:-1;}#banner2{margin:0;padding:0;margin-right:20px;float:right;width:120px;height:240px;}#header{clear:both;position:absolute;}#page{width:800px;margin:0 auto;}#main-picture{margin-top:40px;text-align:center;}#progress{text-align:center;}#progress progress{margin-top:30px;width:500px;}#progress strong{font-weight:normal;font-size:16px;color:#000;}#progress p{margin-top:20px;font-size:14px;}#buttons,#social{margin-top:20px;text-align:center;font-size:24px;}#buttons a{margin-right:30px;}#social a{margin-right:10px;}#download-text{margin-top:30px;text-align:center;font-size:14px;}#text{margin-top:30px;text-align:center;font-size:20px;font-color:red}#art {color:red;
position:realative;
text-align:justify
text-align:center;
left:55px;
top:10px;
width50t:89px;
 background-image:url(../images/bg.png);
-moz-border-radius:6px;
border-radius:6px 5px;
-khtml-border-radius:6px;
-icab-border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
padding-top:1px;
width:700px;
text-align:center;
margin-left: 0 auto;
padding-left: 7px;
padding-top: 5px;
font-size:20px;

}
/*
     FILE ARCHIVED ON 06:05:40 Feb 07, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:34:25 Apr 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.566
  exclusion.robots: 0.2
  exclusion.robots.policy: 0.183
  cdx.remote: 0.114
  esindex: 0.017
  LoadShardBlock: 175.202 (3)
  PetaboxLoader3.datanode: 75.519 (5)
  PetaboxLoader3.resolve: 487.874 (3)
  load_resource: 400.957 (2)
*/